#home-link-container {
    border:         none !important;
    width:          100%;
    height:         100%;
    padding-bottom: 25px;
}

.dfe-topnav-logo-height {
    max-height: 48px;
}

.dfe-topmenu {
    margin-top: 60px;
}

.dfe-topmenu-pagename {
    padding: 0;
    display: inline-block;
    margin:  0;
}

.dfe-section-header {
    text-align:    right;
    color:         white;
    background:    #333333;
    margin-bottom: 10px;
    border-radius: 4px;
    padding:       0 15px 0;
}

form {
    margin-bottom: 0;
}

.table tr {
    /*cursor: pointer;*/
}

.sorting {
    /*background: url('../../../img/sort-both.png') no-repeat center right;*/
}

.sorting_asc {
    background: url('../../../img/sort-asc.png') no-repeat center right;
}

.sorting_desc {
    background: url('../../../img/sort-desc.png') no-repeat center right;
}

/*------------------------------------------------------------------------------*/
/* Generics                                                                     */
/*------------------------------------------------------------------------------*/

.dfe-overview {
    font-family:    'Arial', sans-serif;
    font-size:      14px;
    cursor:         pointer;
    vertical-align: middle;
}

.label-spinner {
    margin-right: 4px;
    color:        rgba(255, 142, 55, 0.81);
    display:      inline-block;
}

#page-content {
    padding: 8px 0;
}

.dropdown-menu li a i.fa-fw {
    margin-right: 5px;
}

.btn-group > button > i.fa-fw {
    min-height:  18px;
    padding-top: 3px;
}

#tablePages {
    font-size: 12px;
}

/**********************************************************
*
*   Users
*
***********************************************************/

.dfe-table-user th:nth-child(1) {
    text-align:     center;
    vertical-align: middle;
}

.dfe-table-user th:nth-child(2) {
    text-align:     left;
    vertical-align: middle;
}

.dfe-table-user th:nth-child(3) {
    text-align:     left;
    vertical-align: middle;
}

.dfe-table-user th:nth-child(4) {
    text-align:     left;
    vertical-align: middle;
}

.dfe-table-user th:nth-child(5) {
    text-align:     center;
    vertical-align: middle;
}

.dfe-table-user th:nth-child(6) {
    text-align:     center;
    vertical-align: middle;
}

.dfe-table-user td:nth-child(1) {
    text-align:     center;
    vertical-align: middle;
}

.dfe-table-user td:nth-child(2) {
    text-align:     left;
    vertical-align: middle;
}

.dfe-table-user td:nth-child(3) {
    text-align:     left;
    vertical-align: middle;
}

.dfe-table-user td:nth-child(4) {
    text-align:     left;
    vertical-align: middle;
}

.dfe-table-user td:nth-child(5) {
    text-align:     center;
    vertical-align: middle;
}

.dfe-table-user td:nth-child(6) {
    text-align:     center;
    vertical-align: middle;
}

.dfe-table-user {
    font-family:    "Arial", sans-serif;
    font-size:      14px;
    cursor:         pointer;
    vertical-align: middle;
}

/**********************************************************
*
*   Servers
*
***********************************************************/

.dfe-table-server th:nth-child(1) {
    text-align:     center;
    vertical-align: middle;
    width:          125px;
}

.dfe-table-server th:nth-child(2) {
    text-align:     left;
    vertical-align: middle;
    width:          150px;
}

.dfe-table-server th:nth-child(3) {
    text-align:     center;
    vertical-align: middle;
    width:          105px;
}

.dfe-table-server th:nth-child(4) {
    text-align:     left;
    vertical-align: middle;
    width:          200px;
}

.dfe-table-server th:nth-child(5) {
    text-align:     center;
    vertical-align: middle;
    width:          125px;
}

.dfe-table-server th:nth-child(6) {
    text-align:     center;
    vertical-align: middle;
    width:          175px;
}

.dfe-table-server td:nth-child(1) {
    text-align:     center;
    vertical-align: middle;
    width:          125px;
}

.dfe-table-server td:nth-child(2) {
    text-align:     left;
    vertical-align: middle;
    width:          150px;
}

.dfe-table-server td:nth-child(3) {
    text-align:     center;
    vertical-align: middle;
    width:          105px;
}

.dfe-table-server td:nth-child(4) {
    text-align:     left;
    vertical-align: middle;
    width:          200px;
}

.dfe-table-server td:nth-child(5) {
    text-align:     center;
    vertical-align: middle;
    width:          125px;
}

.dfe-table-server td:nth-child(6) {
    text-align:     center;
    vertical-align: middle;
    width:          175px;
}

.dfe-table-server {
    font-family:    "Arial", sans-serif;
    font-size:      14px;
    cursor:         pointer;
    vertical-align: middle;
}

/**********************************************************
*
*   Clusters
*
***********************************************************/

.dfe-table-cluster th:nth-child(1) {
    text-align:     center;
    vertical-align: middle;
}

.dfe-table-cluster th:nth-child(2) {
    text-align:     left;
    vertical-align: middle;
}

.dfe-table-cluster th:nth-child(3) {
    text-align:     left;
    vertical-align: middle;
}

.dfe-table-cluster th:nth-child(4) {
    text-align:     center;
    vertical-align: middle;
}

.dfe-table-cluster th:nth-child(5) {
    text-align:     center;
    vertical-align: middle;
}

.dfe-table-cluster td:nth-child(1) {
    text-align:     center;
    vertical-align: middle;
}

.dfe-table-cluster td:nth-child(2) {
    text-align:     left;
    vertical-align: middle;
}

.dfe-table-cluster td:nth-child(3) {
    text-align:     left;
    vertical-align: middle;
}

.dfe-table-cluster td:nth-child(4) {
    text-align:     center;
    vertical-align: middle;
}

.dfe-table-cluster td:nth-child(5) {
    text-align:     center;
    vertical-align: middle;
}

.dfe-table-cluster {
    font-family:    "Arial", sans-serif;
    font-size:      14px;
    cursor:         pointer;
    vertical-align: middle;
}

.dfe-table-cluster-servers th:nth-child(1) {
    text-align:     center;
    vertical-align: middle;
}

.dfe-table-cluster-servers th:nth-child(2) {
    text-align:     left;
    vertical-align: middle;
}

.dfe-table-cluster-servers th:nth-child(3) {
    text-align:     center;
    vertical-align: middle;
}

.dfe-table-cluster-servers td:nth-child(1) {
    text-align:     center;
    vertical-align: middle;
}

.dfe-table-cluster-servers td:nth-child(2) {
    text-align:     left;
    vertical-align: middle;
}

.dfe-table-cluster-servers td:nth-child(3) {
    text-align:     center;
    vertical-align: middle;
}

.dfe-table-cluster-servers {
    font-family:    "Arial", sans-serif;
    font-size:      14px;
    vertical-align: middle;
    cursor:         text;
}

/**********************************************************
*
*   Instances
*
***********************************************************/

.dfe-table-instance th:nth-child(1) {
    text-align:     left;
    vertical-align: middle;
}

.dfe-table-instance th:nth-child(2) {
    text-align:     left;
    vertical-align: middle;
}

.dfe-table-instance th:nth-child(3) {
    text-align:     left;
    vertical-align: middle;
}

.dfe-table-instance th:nth-child(4) {
    text-align:     center;
    vertical-align: middle;
    width:          85px;
}

.dfe-table-instance th:nth-child(5) {
    text-align:     center;
    vertical-align: middle;
}

.dfe-table-instance th:nth-child(6) {
    text-align:     center;
    vertical-align: middle;
}

.dfe-table-instance td:nth-child(1) {
    text-align:     left;
    vertical-align: middle;
}

.dfe-table-instance td:nth-child(2) {
    text-align:     left;
    vertical-align: middle;
}

.dfe-table-instance td:nth-child(3) {
    text-align:     left;
    vertical-align: middle;
}

.dfe-table-instance td:nth-child(4) {
    text-align:     center;
    vertical-align: middle;
    width:          85px;
}

.dfe-table-instance td:nth-child(5) {
    text-align:     center;
    vertical-align: middle;
}

.dfe-table-instance td:nth-child(6) {
    text-align:     center;
    vertical-align: middle;
}

.dfe-table-instance {
    font-family:    "Arial", sans-serif;
    font-size:      14px;
    cursor:         text;
    vertical-align: middle;
}

/**********************************************************
*
*   Policies
*
***********************************************************/

.dfe-table-policy {
    font-family:    "Arial", sans-serif;
    font-size:      14px;
    cursor:         pointer;
    vertical-align: middle;
}
